<!DOCTYPE html>
<html>
<head>
    <title>Заявка от Савальт</title>
</head>
<body>
<h1>Заявка</h1>

    <ul>
        <% for(const key in data) { %>
            <li> <%= key %>: <%= data[key] %></li>
        <% } %>
    </ul>

</body>
</html>